*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif ;
    font-size: 13px;
    line-height: 18px;
}

.container {
    width: 1110px;
    margin: 0 auto;
    background-image: url("images/dandelions.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 220px;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    color: #515076;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 0;
}

.clear-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card__price {
    display: flex;
    justify-content: space-between;
}

.price__label {
    color: #515076;
    width: 56px;
    height: 24px;
}

.price__cost {
    color: #515076;
    height: 24px;
}

.card {
    background-color: #F7F7FA;
    padding: 25px;
    width: 100%;
}

.card__image {
    display: block;
}

.card__category {
    display: block;
    color: #8C8C8C;
    text-transform: uppercase;
}

.card__discription {
    color: #515076;
    
}

.card__compound,
.compound__name,
.compound__list {
    color: #515076;
    padding: 10px;

}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;

}

.products__item {
width: 340px;
}
