body {
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1110px;
}

.title {
    font-weight: 400;
    font-size: 70px;
    line-height: 78px;
    color: #515076;
    text-align: center;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 200px;
}

.card {
    width: 300px;
    background-color: #ececf3;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    gap: 20px;
    border-radius: 5px;
    margin: 20px;

}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 340px;
    color: #515076;
}

img {
    width: 290px;
    height: 245px;
}

h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #A5A3B9;
}

.discription,
.compound,
.features {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: normal;
    color: #515076;
    padding: 0;
    list-style-position: inside;
    width: 287px;
}

b {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    color: #515076;
}

.cost-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
}

.cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    margin: 10px 50px;
    color: #515076;
}